In [ ]:
a=10
b=20
c=30
d=40

if (b>a) and (c>a) and (d>a):
  print("a is small")
elif (a>b) and (c>b) and (d>b):
  print("b is small")
elif (a>c) and (b>c) and (d>c):
  print("c  is small")
else:
  print("d is small")

a is small

In [ ]:
2**3

8

In [ ]:

arm=2356

a6=arm%10
arm=arm//10
a5=arm%10
arm=arm//10
a3 = arm%10
arm=arm//10


sum = a6**2 + a5**2 + a3**2 + arm**2
print(sum)

74

In [ ]:
25+36+9+4

74

In [ ]:
ltr=int(input("enter number of quantity"))
r=3
h=345
py=3.14

volume=(py) * (r**2) * (h)/1000

enter number of quantity5

In [ ]:
volume*230

2242.431

In [ ]:
sum

200

In [ ]:
14**2+12**2+10**2+8**2+6**2+4**2+2**2

560

In [ ]:
a=6
count=0
if a==1:
  print("prime number")
for i in range(2,a):
  if a%i==0:
    count=count+1

if count > 0:
  print("not prime")
else:
  print("not prime")

not prime

In [ ]:
sum=0
for i in range(1,101):
  if i%5==0:
    print(i)
    sum += i**2

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
sum

71750

In [ ]:
# Pattern

In [ ]:
for i in range(0,5):
  for j in range(i):
    print("*",end=' ')
  print()

*
* *
* * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(5-i):
    print("*",end='')
  print()

****
***
**
*

In [ ]:
for i in range(1,5):
  for j in range(i):
    print("*",end='')
  print()
for i in range(1,4):
  for j in range(4-i):
    print("*",end='')
  print()

*
**
***
****
***
**
*

In [ ]:
for i in range(1,5):
  for j in range(4-i):
    print(" ",end=' ')
  for j in range(i):
    print("*",end=' ')
  print()

      *
    * *
  * * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end=' ')
  for j in range(5-i):
    print("*",end=' ')
  print()

  * * * *
    * * *
      * *
        *

In [ ]:
n=int(input("enter rows Number "))
for i in range(1,n+1):

  if i==1 or i == 2 or i==max(range(1,n+1)):
    for j in range(1,i+1):
      print("*",end="")
  if i==3:
    for a in range(1):
      print("*",end="")
    for b in range(1):
      print("_",end="")
    for c in range(1):
      print("*",end="")

  if i==4:
    for a in range(1):
      print("*",end="")
    for b in range(2):
      print("_",end="")
    for c in range(1):
      print("*",end="")

    pass
  print()

enter rows Number 5
*
**
*_*
*__*
*****

In [ ]:
min(range(5))

0

In [ ]:
#  *
#  **
#  *_*
#  *__*
#  *****

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    if j==1 or j==i or i==5:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*
**
* *
*  *
*****

In [ ]:
for i in range(1,6):
  for k in range(6-i):
    print(" ",end="")
  for j in range(1,i+1):
    if j==1 or j==i or i==5:
      print("*",end="")
    else:
      print(" ",end="")
  print()

     *
    **
   * *
  *  *
 *****

In [ ]:
for i in range(1,5):
  for j in range(4-i):
    print(" ",end='')
  for j in range((i*2-1)):
    print("*",end='')
  print()

   *
  ***
 *****
*******

In [2]:
#    * * * * *
#      * * *
#        *


n=4
for i in range(1,n):
  for j in range(i):
    print(" ",end='')
  for j in range(((n-i)*2-1)):
    print("*",end='')
  print()

 *****
  ***
   *

In [12]:
#    *
#   ***
#  *****
#   ***
#    *


n=4
for i in range(1,n+1):
  for k in range(n-i):
    print(" ",end=" ")
  for j in range(i*2-1):
    print("*",end=" ")
  print()


for i in range(1,n+1):
  for x in range(i):
    print(" ",end=" ")
  for y in range((n-i)*2-1):
    print("*",end=" ")
  print()

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [14]:
#  *
#    *
#      *
#        *
#          *
#            *



n=6
for i in range(1,n+1):
  for k in range(1,i):
    print(" ",end=" ")
  for l in  range(1):
    print("*",end=" ")
  print()

*
  *
    *
      *
        *
          *

In [15]:
#                *
#              *
#            *
#          *
#        *
#      *



n=6
for i in range(1,n+1):
  for k in range(n-i):
    print(" ",end=" ")
  for l in  range(1):
    print("*",end=" ")
  print()

          *
        *
      *
    *
  *
*

In [68]:
#    *            *
#      *        *
#        *    *
#          *
#        *   *
#      *       *
#    *           *


n=5

for i in range(1,n+1):
  print(i,end="")
  for j in range(1,i):
    print(" ",end="")
  for k in range(6-i):
    if (i == 3 and k == 1) :
      print(" ",end=" ")
    elif ((i == 2 and k == 1 )):
      print(" ",end=" ")
    elif ((i == 2 and k == 2 )):
      print(" ",end=" ")
    elif ((i == 1 and k == 1 )):
      print(" ",end=" ")
    elif ((i == 1 and k == 2 )):
      print(" ",end=" ")
    elif ((i == 1 and k == 3 )):
      print(" ",end=" ")
    else:
      print("*",end=" ")
  print()


for i in range(1,n+1):
  print(i,end="")
  for j in range(n-i):
    print(" ",end="")
  for k in range(i):
    if (i == 3 and k == 1) :
      print(" ",end=" ")
    elif ((i == 4 and k == 1 )):
      print(" ",end=" ")
    elif ((i == 4 and k == 2 )):
      print(" ",end=" ")
    elif ((i == 5 and k == 1 )):
      print(" ",end=" ")
    elif ((i == 5 and k == 2 )):
      print(" ",end=" ")
    elif ((i == 5 and k == 3 )):
      print(" ",end=" ")
    else:
      print("*",end=" ")
  print()

1*       *
2 *     *
3  *   *
4   * *
5    *
1    *
2   * *
3  *   *
4 *     *
5*       *

In [75]:
  #        * * * *
  #       *     *
  #      *     *
  #     * * * *


  n=5
  for i in range(1,5):
    for k in range(4-i):
      print(" ",end=" ")
    for j in range(1,5):
      if i==2 and j==2:
        print(" ",end=" ")
      elif i==2 and j==3:
        print(" ",end=" ")
      elif i==3 and j==2:
        print(" ",end=" ")
      elif i==3 and j==3:
        print(" ",end=" ")
      else:
         print("*",end=" ")
    print()

      * * * *
    *     *
  *     *
* * * *

In [78]:
#     *
#    * *
#   *   *
#  *     *
# *       *
# *       *
#  *     *
#   *   *
#    * *
#     *



n=5


for i in range(1,n+1):
  for j in range(n-i):
    print(" ",end="")
  for k in range(i):
    if (i == 3 and k == 1) :
      print(" ",end=" ")
    elif ((i == 4 and k == 1 )):
      print(" ",end=" ")
    elif ((i == 4 and k == 2 )):
      print(" ",end=" ")
    elif ((i == 5 and k == 1 )):
      print(" ",end=" ")
    elif ((i == 5 and k == 2 )):
      print(" ",end=" ")
    elif ((i == 5 and k == 3 )):
      print(" ",end=" ")
    else:
      print("*",end=" ")
  print()


for i in range(1,n+1):
  for j in range(1,i):
    print(" ",end="")
  for k in range(6-i):
    if (i == 3 and k == 1) :
      print(" ",end=" ")
    elif ((i == 2 and k == 1 )):
      print(" ",end=" ")
    elif ((i == 2 and k == 2 )):
      print(" ",end=" ")
    elif ((i == 1 and k == 1 )):
      print(" ",end=" ")
    elif ((i == 1 and k == 2 )):
      print(" ",end=" ")
    elif ((i == 1 and k == 3 )):
      print(" ",end=" ")
    else:
      print("*",end=" ")
  print()

    *
   * *
  *   *
 *     *
*       *
*       *
 *     *
  *   *
   * *
    *

In [85]:
#      * * * * *
#      *
#      * * *
#      *
#      * * * * *

n=6
for i in range(1,n):
  if i==1 or i==5:
    for i in range(1,n):
      print("*",end=" ")
  elif i==3:
    for i in range(1,4):
      print("*",end=" ")
  else:
    print("*",end=" ")
  print()

* * * * *
*
* * *
*
* * * * *